.dashboard {
  section {
    &:first-child {
      border-right: 1px solid #dedede;
    }

    .requests-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
      margin-bottom: 20px;

      .requests-actions {
        display: flex;
        flex-direction: column;

        a {
          margin: 5px;
        }
      }
    }
    .admin-actions {
      display: flex;
      justify-content: space-around;
    }

    .projects-links {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }
  }
}
