Django==1.11.3
django-allauth==0.32.0
django-cors-headers==2.1.0
django-rest-auth==0.9.1
djangorestframework==3.6.3
djangorestframework-bulk==0.2.1
requests==2.18.1
requests-oauthlib==0.8.0
django-rest-swagger==2.1.0
jinja2==2.9.0