.project {
  width: 800px;
  margin: 50px auto;
  text-align: center;
  position: relative;

  form {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;

    &.agreement {
      p {
        text-align: left;
      }

      input {
        &.name,
        &.date {
          border: none;
          border-bottom: 1px solid #ccc;
          border-radius: 0px;
          box-shadow: none;
        }
      }
      span {
        margin-left: 10px;
      }
    }
  }

  input,
  textarea {
    padding: 0 15px;
    margin-bottom: 10px;
  }

  textarea {
    resize: vertical;
    height: 250px !important;
  }

  .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }

  .progressbar {
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    counter-reset: step;

    li {
      list-style-type: none;
      color: black;
      text-transform: uppercase;
      font-size: 9px;
      width: 33.33%;
      float: left;
      position: relative;

      &:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: #fff;
        background: black;
        border-radius: 3px;
        margin: 0 auto 5px auto;
      }

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: black;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1; /*put it behind the numbers*/
      }

      &:first-child {
        &:after {
          content: none;
        }
      }

      &.active {
        &:before,
        &:after {
          background: #337ab7;
          color: white;
        }
      }
    }
  }
}

.action-button {
  width: 100px;
  background: #337ab7;
  font-weight: bold;
  color: white;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;

  &.small {
    margin: 0;
    padding: 8px 5px;
    width: 70px;
  }

  &:disabled {
    background: #dedede;
    cursor: not-allowed;

    &:hover,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #337ab7;
    outline: none;
  }
}
