DEBUG=true

DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_pass
DB_SERVICE=postgres
DB_PORT=5432

DJANGO_SUPER_USER=user_name
DJANGO_SUPER_MAIL=user@xyz.org
DJANGO_SUPER_PASS=password

ICGC_CLIENT_KEY=keykeykey
ICGC_CLIENT_SECRET=secretsecretsecret
ICGC_TOKEN=tokentokentoken
ICGC_TOKEN_SECRET=secretsecretsecret
ICGC_BASE_URL=https://icgc.org/ud_oauth/1/search

SMTP_URL=smtp.your.mail.server
SMTP_FROM=email@your.org
RESOURCE_ADMIN_EMAIL=admin@your.org