@import url('https://fonts.googleapis.com/css?family=Roboto:500');

$height: 40px;
$width: 100%;
$logo: url('../../assets/img/g-logo.svg');

@function ratio($numerator) {
  @return $height * ($numerator / 40);
}

// modify this with caution
$radius: ratio(1);

@mixin button($background, $color) {
  display: block;
  vertical-align: middle;
  font-size: ratio(14);
  font-weight: 500;
  width: $width;
  border-radius: $radius;
  padding: 0;
  color: $color;
  font-family: 'Roboto', sans-serif;
  padding-right: ratio(16);
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  background: $background;
  border: $background solid ratio(1);
  box-shadow: ratio(1) ratio(1) ratio(5) 0 #b7b7b7;
  text-align: left;
  vertical-align: middle;

  &:focus,
  &:active,
  &:hover {
    background: darken($background, 10%);
    box-shadow: ratio(2) ratio(2) ratio(6) 0 #b7b7b7;
  }

  &:disabled {
    background: #b7b7b7;
  }

  &::before {
    display: block;
    content: '';
    background-image: $logo;
    background-color: #fff;
    background-size: ratio(18);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    vertical-align: middle;
    width: ratio(40);
    height: ratio(40);
    border-radius: $radius;
    margin-right: ratio(16);
  }
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-logo-container {
    img {
      width: 300px;
      margin: -100px 0 30px;
    }
  }

  .login-container,
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    input {
      margin: 5px 0px;
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  .login-google {
    @include button(#4285f4, #ffffff);
    margin-bottom: 10px;
  }

  .login-extra-info {
    margin-top: 20px;

    &.hide {
      visibility: hidden;
    }
    &.show {
      visibility: visible;
    }
  }
  .lang-toggle {
    margin-top: 10px;
  }
}
