.project-selector {
  margin: 20px 0 40px;
}

.nav {
  li {
    &:first-child {
      padding-left: 40px;
    }
  }

  .tabs {
    .tab-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.selected {
      .tab-content {
        align-items: flex-start;
      }
    }
  }
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height: 400px;

  .no-project {
    h2 {
      margin: 0;
    }
  }

  .inner {
    padding: 20px;

    textarea {
      width: 400px;
      height: 170px;
      border: 1px solid #ddd;
    }
  }
}

.user-email {
  img {
    display: none;
  }
  &.fetching {
    img {
      display: block;
      position: absolute;
      right: 20px;
      top: 5px;
      width: 25px;
    }
  }
}

.user-list {
  margin: 20px;

  &.show {
    border: 1px solid #ddd;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
      }
    }
  }
  button {
    float: right;
  }
}
